MONGODB_DB = 'lineageos_updater'
MONGODB_USERNAME = ''
MONGODB_PASSWORD = ''
MONGODB_HOST = 'db'
MONGODB_PORT = 27017

GERRIT_URL = 'https://review.lineageos.org'
BUILD_SYNC_TIME = 3600
CACHE_TYPE = "simple"
